*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
body {
  padding: 2rem;
  text-align: center;
}
.slider-wrapper {
  position: relative;
  max-width: 80dvw;
  margin: 0 auto;
}
.slider {
  display: flex;
  aspect-ratio: 16 / 9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 20px;
}
.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.dots {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2em;
  z-index: 1;
}
.dots a {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: #fff;
  opacity: 0.6;
  transition: all 250ms ease;
}
.dots a:hover {
  opacity: 1;
}
.dots a.active {
  opacity: 1;
}
